/* Import fonts from fonts.css file*/
@import url(./fonts.css); 
/* css variable*/
@import url(./partials/_variables.css);
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}


nav img{
  width: 300px;
}


nav .gamebox{
  width:10px;
}


.Roger{
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;

}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

  


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color:black;
  font-weight: bolder;
  padding: 7px 13px;
  border-radius: 3PX;
  
  
}

nav ul li a:hover{
  color: white;
  background-color: #993399;
}
.checkbtn{
  display: none;
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 27px;
  cursor: pointer;
  
}

#check{
  display: none;
}
.contnt{
  margin-left: 8%;
  margin-top: 10%;
}
.contnt h1{
  font-size: 45px;
  color: #660066;
  margin-bottom: 20px;
  
}
span{
  color: black;
}
.contnt p{
  color: #330033;
  line-height: 22px;
  font-size: large;
}

.contnt a{
  background: #330033;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.design{
  width: 45%;
  height: 80%;
  position:absolute;
  bottom: 0;
  right: 100px;
}
.design img{
  height: 98%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.design:hover .gamebox{
   bottom: 40px;
}

.design:hover .boy{
  left: 45%;
}
/** ==================================================== student icon ===============================================**/ 
section{
  top: 180px;
  bottom: 0%;
  background: linear-gradient(to top, #9900cc 0%, #9966ff 100%);
}

.container {
 width: 100%;
 max-width: 1024px;
 padding: 0 4%;
 padding-top: 200px;
 margin: 0 auto;
 display: flex;
 justify-items: center;
 align-items: center;

}

.box{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #660066;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
  border: 2px solid rgba(7,7,7,0.12);
  font-size: 17px;
  transition: all 0.3s ease;
  position:relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor:pointer;
  transition: all 0.3s ease;
  border: 2px solid#993399;

}
.icon {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #f45252, #f50553 40%,rgba(0,0,0,0.28) 59%);
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-position: 0px;
  background-size: 200px;
}

.fas fa-university{
  font-size: 37px;
}
.fas fa-plane{
  font-size: 37px;
}
.fas fa-film{
  font-size: 37px;
}
.fas fa-balance-scale{
  font-size: 37px;
}
.box .box_title{
  width: 100%;
  margin: 0%;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;

}
.box .box_text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}
.container .box:hover{
  height: 270px;
}
.container .box:hover .box_text{
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 125px;
}
.container .box:hover .icon{
background-position: -120px;
transition: all 0.3s ease;
background-color:#660066 ;
}


/*=================================responsiv==========================*/


/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px){
  
  body{
    overflow-x: hidden;
  }
  .Roger{
    background: linear-gradient(to bottom, #cc66ff 0%, #ffcccc 100%);
  }
  
  
  .checkbtn{
    display: block;

  }

  #check{
    display: none;
  }
  nav ul{
    position: absolute;
    width: 50%;
    height: 60vh;
    background: #cc99ff;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    

 
  }


  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav ul li a:hover a.active{
    background: none;
    color: whitesmoke;
  }
  #check:checked ~ ul{
    left: 180px;
  }
  .design img{
    width:400px;
    height: auto;
    top: 120%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }
  .container{
    display: flex;
   flex-wrap: wrap;
   margin-top: 110%;
 
  }
  
  .box{
   align-items: center;
  }
  .contnt h1{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .design:hover .gamebox{
    bottom: 70%;
 }
 
 .design:hover .boy{
   left: 55%;
 }
}
