/* Import fonts from fonts.css file*/
@import url(./fonts.css); 
/* css variable*/
@import url(./partials/_variables.css);
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

nav img{
  width: 300px;
}


html{
  overflow-x: hidden;
}


.Roger{
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;

}

nav{
  display: flex;
  width: 75%;
  margin: auto;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

  


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 8px 12px;
}

nav ul li a{
  text-decoration: none;
  color:black;
  font-weight: bolder;
  padding: 7px 8px;
  border-radius: 3px;
  
  
}

nav ul li a:hover{
  color: white;
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
}
.checkbtn{
  display: none;
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 27px;
  cursor: pointer;
  
}

#check{
  display: none;
}
.contnt{
  margin-left: 8%;
  margin-top: 10%;
}
.contnt h1{
  font-size: 35px;
  color: #660066;
  margin-bottom: 20px;
  
}
span{
  color: black;
}
.contnt p{
  color: #330033;
  line-height: 22px;
  font-size: large;
}

.contnt a{
  
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.design{
  width: 45%;
  height: 72%;
  position:absolute;
  bottom: 0;
  right: 92px;
}
.design img{
  height: 98%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.design:hover .gamebox{
   bottom: 40px;
}

.design:hover .boy{
  left: 45%;
}
/** ==================================================== student icon ===============================================**/ 
.sec{
  margin-top: 175px;
  bottom: 0%;
  
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
}

.container {
 width: 100%;
 max-width: 1024px;
 padding: 0 4%;
 padding-top: 200px;
 margin: 0 auto;
 display: flex;
 justify-items: center;
 align-items: center;

}

.box{
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #660066;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
  border: 2px solid rgba(7,7,7,0.12);
  font-size: 17px;
  transition: all 0.3s ease;
  position:relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor:pointer;
  transition: all 0.3s ease;
  border: 2px solid#993399;

}
.icon {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #f45252, #f50553 40%,rgba(0,0,0,0.28) 59%);
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-position: 0px;
  background-size: 200px;
}

.fas fa-university{
  font-size: 37px;
}
.fas fa-plane{
  font-size: 37px;
}
.fas fa-film{
  font-size: 37px;
}
.fas fa-balance-scale{
  font-size: 37px;
}
.box .box_title{
  width: 100%;
  margin: 0%;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;

}
.box .box_text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .box:hover{
  height: 270px;
}
.container .box:hover .box_text{
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 125px;
}
.container .box:hover .icon{
background-position: -120px;
transition: all 0.3s ease;
background-color:#660066 ;
}


/*=================================responsiv==========================*/


/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px){
  
  body{
    overflow-x: hidden;
  }
  .Roger{
   
    background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
  }
  
  
  .checkbtn{
    display: block;

  }

  #check{
    display: none;
  }
  nav ul{
    position: absolute;
    width: 50%;
    height: 27vh;
    background: black;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    

    

 
  }
  nav {
    position: relative;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 3px;
    
    
  }
  nav ul li a{
    font-size: 14px;
    color: white;
  }
  nav ul li a:hover a.active{
    background: none;
    color: white;
    
  }
  #check:checked ~ ul{
    left: 180px;
  }
  .design img{
    width:400px;
    height: auto;
    top: 103%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }
  .container{
    display: flex;
   flex-wrap: wrap;
   margin-top: 108%;
 
  }
  
  .box{
   align-items: center;
   
   
  }
  .contnt h1{
    font-size: larger;
    color: white;
    
  }
  span{
    color: whitesmoke;
  }

  .design:hover .gamebox{
    bottom: 70%;
 }
 
 .design:hover .boy{
   left: 55%;
 }
}


/*==========================portfolio page =========================================*/

.porto{
  position: relative;
  width: 100%;
  height: 30vh;
 background-color: white;
 

}

.port-cont{
  margin-left: 3%;
  margin-top: 8%;
  margin-right: 3%;
  margin-bottom: 8%;
  border-radius: 16px;
  
  min-height: 70vh;
  font-size: 30px;
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  
}
.port-cont img{
  width: 16%;
}
.port-cont h1{
  font-size: 12vw;
  color: white;
  -webkit-text-stroke: 0.3vw #993399;
  text-transform: uppercase;
  margin-left: 9%;
  opacity: 1;
  
}
.port-cont p{
  font-size: 30px;
  color: #000;
 margin-left: 9%;
}
.port-cont h1::before{
  content: attr(data-text);
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 0%;
  height: 25%;
  color: black;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #660066;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate{
  0%,10%,100%{
    width: 0;
  }
  50%,90%{
    width: 100%;
  }
}
/*=================cards=============*/

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;

}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 320px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 18px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25);

}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
}

.card:hover {
  transform: translateY(-1rem);

}

.card:hover~.card {
  transform: translateX(130px);
}

.card:not(:first-child){
  margin-left: -130px;
}

.card-content{
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.card-icon img {
  width: 30px;
  height: 30px;
  border-radius: 0%;
  display: block;
  overflow: hidden;
  margin: 19px 10px;
  margin-left: 14px;
}  
 

.card-icon {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}
.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 93px;
  fill:none;
  stroke: #f50553;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.icon-name {
  grid-area: auto;
    box-sizing: border-box;
}

.icon-name-prefix {
  font-style: normal;
  font-weight: 900;
  color: #7a7a8c;
}

.card-header h2:hover {
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.card-header h2{
  font-size: large;
  color: grey;
}

.card-list
{
  background:linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
  bottom: 0%;
  
 
}


 /*=============================responsiv portfolio page===============================*/

 /* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px){
  html{

    overflow-x: hidden;
   
  }
  .container-1 {
    position: absolute;
    width: 100%;
    padding-top: 220px;
    margin-top: 150px;
    margin-left: 258px;
    justify-items: center;
    align-items: center;
  
   
  }
  .port-cont p{
    font-size: 30px;
    color: #000;
   margin-left: 9%;
  }


  .card-list{
    position: relative;
    margin-top: 0px;
  }

 /*================================animation project========================================*/   
  .port-cont{
    margin-left: 8%;
    margin-top: 30%;
  
    min-height: 25vh;
  }
  .port-cont h1::before{
    content: attr(data-text);
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    width: 0%;
    height: 10%;
    color: black;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #660066;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }
}    

/*===================================projects=======================================================*/
 
.pop-face{
  width: 18%;
  position: absolute;
  margin-left: 50px;
  margin-top: 33%;
}

.sectionBx{ 
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  min-height: 440vh;
  
  background:linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
}

.sectionBx .container-tilt {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  margin-left: 28%;
  margin-top: 12%;
  transform-style: preserve-3d;
  
}

.sectionBx .container-tilt .tilt {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 60px 0;
  background: black;
  transform-style: preserve-3d;
  

}
.sectionBx .container-tilt .tilt:hover{
  box-shadow: 0 50px 80px rgba(0,0,0,0.2);
}


.sectionBx .container-tilt .tilt .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-tilt .tilt .contentBx
{
  position:relative;
  top: 70%;
  left: 50px;
  right: 50px;
  background-color: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.sectionBx .container-tilt .tilt:hover .contentBx{
  transform: translateZ(50px) scale(1);
}

.container-tilt .tilt .contentBx a{
  text-decoration: none;
  color:black;
  font-weight: bolder;
  padding: 7px 8px;
  border-radius: 3px;
  background-color: #993399;
  
  
}

.container-tilt .tilt .contentBx a:hover{
  color: white;
  background: linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px){
  .sectionBx{ 
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    min-height: 150vh;
    background:linear-gradient(to bottom left, #ff0000 0%, #3333ff 100%);
    overflow-x: hidden;

    
  } 
  .sectionBx .container-tilt {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    margin-left: 1%;
    transform-style: preserve-3d;
  }
  .sectionBx .container-tilt .tilt {
    position: relative;
  width: 10px;
  height: 30px;
  margin: 60px 0;
  }
  .sectionBx .container-tilt .tilt .imgBx{
    position: relative;
    top: 0;
    left: 30px;
    width: 2vmin;
    height: 2vmin
}
.container-tilt .tilt .contentBx
{
  position:relative;
  top: 70%;
  left: 45px;
  right: 5px;
  width: 250px;
  height: 180px;
}
img{
  width: 300px;

}
.container-tilt .tilt .contentBx h2{
  font-size: 1em;
}
.container-tilt .tilt .contentBx p{
  font-size: .5em;
}
.container-tilt .tilt .contentBx a{
  font-size: 10px;
  border-radius: 2px;
}
.port-cont .smedia{
  width: 20px;
  height: 20px;
}

}

.port-cont .smedia{
  width: 6%;
}
.port-cont  p{
  font-size: 20px;
}